<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 style="justify-content: center;">José de Jesús Becerra Argandoña</h1>
        <hr>
        <div style="justify-content: center;"> 
            <img src="../assets/img/529a30d3-850e-458e-83b1-de5788924b34.jpg" alt="" style="width: 100px;">
        </div>
        <p>Soy egresado de la UPIICSA, apasionado por el desarrollo y la ciberseguridad</p>

        <hr>
        <h3>Paginas:</h3>
        <ol>
            <li><a href="producto.html">Semana santa</a></li>
        </ol>
        
    </div>   
    
    






    
</body>
</html>