<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 95vh;">
        <h1>Semana santa</h1>
        <img  src="https://64.media.tumblr.com/e7bce91715de965b474548e7598f6c5d/ffcc06ed03567ea4-f8/s400x600/b10dd22d090f7649f93fe8b1b42eed2ae601a12d.jpg" alt="">
        <hr>
        <h2>La gente usa la semana santa para:</h2>
        <ol>
            <li>Salir de vacaciones</li>
            <li>Hacer deberes del hogar</li>
            <li>Hacer tarea de la escuela</li>            
        </ol>
        <h2>Para que se deberia usar</h2>
        <ol>
            <li>Reflexionar sobre tus pecados</li>
            <li>No comer carne</li>               
        </ol>
    </div>
    <footer>
        <a href="pagina-personal.html">Autor</a>
    </footer>
</body>
</html>