<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <!-- En bloque -->
    <h1>Titulo</h1>
    <a href="https://www.youtube.com/">youtube</a>
    <a href="../index.html">index</a>
    <a href="telefono:5514478072"></a>
    <a href="mailto:pokepichula5k@gmail.com"></a>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt soluta quam, sint et, alias libero quas, voluptatem cumque harum perferendis modi quos excepturi ullam eos expedita veniam neque eius fugit.</p>

    

    <!-- En linea -->
    <span>Hola</span>
    <img src="https://64.media.tumblr.com/afbb3253f11f2ee79e92d8734de2a79e/c1c9475df0a36290-60/s1280x1920/553060a99914776a69f3b2ab478ca09ca832d41c.jpg" alt="">

    <hr>

    <ul>
        <li>uno</li>
        <li>dos</li>
        <li>tres</li>
        <li>cuatro</li>
    </ul>

    <ol>
        <li>uno</li>
        <li>dos</li>
        <li>tres</li>
        <li>cuatro</li>
    </ol>

    

    <style>
        body{
            background-color: aqua;
        }
    </style>

    <script src="assets/js/main.js"></script>

</body>
</html>